---
interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Somos TARS UPV, un equipo de estudiantes de la Universitat Politècnica de València que trabaja en proyectos innovadores en programación robótica competitiva. \n\n En este sitio web, podrás encontrar información sobre nuestros proyectos, noticias y cómo unirte a nosotros. \n\n ¡Te esperamos!",
  image = "/img/banner.png",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="TARS UPV - Innovación y excelencia en programación robótica"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/logo-isotype.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="theme-color" content="#3333ff" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="TARS UPV" />
    <meta property="og:locale" content="es_ES" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:site" content="@Tars_UPV" />
    <meta name="twitter:creator" content="@Tars_UPV" />
    <meta name="twitter:domain" content="tarsupv.com" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="TARS UPV" />
    <link rel="apple-touch-icon" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="40x40" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="32x32" href="/img/logo-isotype.png" />
    <link rel="apple-touch-icon" sizes="16x16" href="/img/logo-isotype.png" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #070707 !important;
    scroll-behavior: smooth;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  @font-face {
    font-family: "Braille";
    src: url("../fonts/Braille.ttf") format("truetype");
  }

  @font-face {
    font-family: "SourceCodePro";
    src: url("../fonts/SourceCodePro.ttf") format("truetype");
  }
</style>
